body {
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/107/700/original/janko-ferlic-sfL_QOnmy00-unsplash.jpg?1702923209");
  font-family: "Merriweather", serif;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  font-weight: 800;
  font-size: 36px;
  line-height: 1.5;
  color: Black;
  text-align: center;
  
  border-radius: 8px;
  padding: 40px;
}

header {
  margin-bottom: 30px;
  background-color: rgba(255, 255, 255, 0.6);;
}
form {
  display: flex;
}

footer {
  text-align: center;
  font-size: 15px;
  margin-top: 30px;
  background-color: rgba(255, 255, 255, 0.6);;
}

a {
  color: #aecfdf;
}
.container {
  margin: 120px auto;
  max-width: 800px;
  
}
.hint {
  line-height: 1.5;
  font-size: 13px;
  margin-top: 5px;
  opacity: 0.6;
}
.form-container {
  padding: 99px;
  background-color:"";
  border-radius: 8px;
background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/106/083/original/gradient-peach-background-with-pink-shades.jpg?1701802511");
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-bottom: 30px;
   background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.instructions {
  padding: 16px;
  border: 1px solid rgba(39, 33, 66, 0, 5);
  width: 90%;
  font-size: 16px;
  border-radius: 50px;
  line-height: 20px;
  color: black;
}

.submit-button {
  font-size: 15px;
  margin-left: 10px;
  background-color: #f5dfbb;
  border: none;
  border-radius: 50px;
  padding: 14px 24px;
}

.quote {
  font-size: 16px;
  background-color: rgba(255, 255, 255, 0.6);
  padding: 30px;
  line-height: 24px;
  font-weight: 500;
  border-left: 3px solid black;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 6px;
  line-height: 2;
}


.generating {
  animation: blink-animation 1s steps(5, start) infinite;
  -webkit-animation: blink-animation 1s steps(5, start) infinite;
}
@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
